<div class="chinh" style="width: 1100px;">
    <div class="sanpham">
        <div id="Sanpham">
            <div id="pham">
                <h3 class="title" style="font-style: oblique;">
                    Sản phẩm
                </h3>
            </div>
            <div class="col-xs- col-sm- col-md- col-lg-">
                <div class="row">
                    <div class="col-sm-3">
                        <form>
                            <a href=""><img src="assets/Images_SP/sp1.PNG" alt=""></a>
                            <h5 style="padding-left: 5px"></h5>
                            <span style="padding-left: 5px; color:red;"></span>
                            <button type="button" class="themgiohang" name="add-to-cart" data-id="">MUA NGAY</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>